local.properties
.version
build.properties

####### General #######
*.swo
trace
activity*.png
*.class
*.orig
*~
*.DS_Store

####### Ant #######
build/

####### Gradle #######
.gradle/
reports/

####### Covers NetBeans IDE #######
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

####### Covers Eclipse IDE #######
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders
.classpath
.project

####### Covers JetBrains IDE: IntelliJ #######
*.iml
*.ipr

# User-specific stuff:
.idea/**/workspace.xml
.idea/**/tasks.xml
.idea/dictionaries
.idea/ant.xml
.idea/misc.xml
.idea/vcs.xml
.idea/compiler.xml
.idea/modules.xml

# Sensitive or high-churn files:
.idea/**/dataSources/
.idea/**/dataSources.ids
.idea/**/dataSources.local.xml
.idea/**/sqlDataSources.xml
.idea/**/dynamic.xml
.idea/**/uiDesigner.xml

# Gradle:
.idea/**/gradle.xml
.idea/**/libraries

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml
/.idea/
/test.bat

#local files
local
temp.ser
output.txt
file

# Bundler
Gemfile.lock
.bundle/
vendor/

# Jekyll build output
_site/

# macOS system files
.DS_Store

# Temporary files
.sass-cache/
.jekyll-cache/
