local.properties
.version

## General
trace
activity*.png
*.class
*.orig
*~
*.DS_Store

## Ant
build/

## Covers NetBeans IDE
nbproject/private/
nbbuild/
dist/
nbdist/
.nb-gradle/

## Covers Eclipse IDE
.metadata
tmp/
*.tmp
*.bak
*.swp
*~.nib
.settings/
.loadpath
.recommenders

## Covers JetBrains IDE: IntelliJ
.idea/

## File-based project format:
*.iws

## Plugin-specific files:

# IntelliJ
out/

# JIRA plugin
atlassian-ide-plugin.xml
